@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Spartan', sans-serif;
}
.font-sty{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.font-styl{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

