#header {
  @apply h-[130px] flex items-center justify-between shadow-[0_5px_15px_rgba(0,0,0,0.1)] z-[999] sticky px-[30px] py-2.5 left-0 top-0;
  background: #d1f7f5;
}
.logo {
  @apply w-[150px] shadow-[#088178];
}
#navbar {
  @apply flex items-center justify-center sticky;
}
#navbar li {
  @apply relative px-5 py-0;
  list-style: none;
}
#navbar li a {
  @apply text-xl font-semibold text-[#1a1a1a] transition-[0.3s] duration-[ease];
  text-decoration: double;
}
#navbar li a:hover,
#navbar li a.active {
  @apply text-[#f56f6fed];
}
#navbar li a:active::after,
#navbar li a:hover::after {
  @apply w-[30%] h-0.5 absolute left-5 -bottom-1;
  background: #088178;
}