@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan',sans-serif;

}
h1 {
    font-size: 50px;
    font-size: large;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;    
}
h4{    font-size: 20px;
    color: #222;
}
h6{ 
    font-weight: 700;
    font-size:12px ;
}
p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}
.section-p1 {
    padding: 40px 80px;
}
.section-m1 {
    margin: 40px 80px;
}
body{
    width: 100%;
    background-color: #cdebcdf0;
}


.logo{
    width: 130px;

} 


#header {
display: flex;
align-items: center;
justify-content: space-between;
padding: 10px 30px;
background: #d1f7f5;
height: 140px;
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
z-index: 999;
position: sticky;
top: 0;
left: 0;
}


#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;

}
#navbar li a{
   text-decoration: double;
    font-size: 20px;
    font-weight: 600;
    color: #1a1a1a; 
    transition: 0.3s ease; 
}
#navbar li a:hover,
#navbar li a.active {
    color: #f56f6fed;
}
#navbar li a:active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background:#088178 ;
    position: absolute;
    bottom: -4px ;
    left: 20px;
}


#hero{
    background:url("Images/FB_IMG_1708512680043.jpg") no-repeat;
    height: 85vh;
    width: 100%;
    background-size: contain;
    background-position:top 20% right 0 ;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
/* #hero{
    background:url("Images/FB_IMG_1708512680043.jpg") no-repeat;
    height: 85vh;
    width: 100%;
    background-size: contain;
    background-position:top 20% right 0 ;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
     animation: change 15s infinite ease-in-out;
      animation-duration: 50s;

}


@keyframes change {
    0%
    {
        background-image: url(Images/FB_IMG_1708512680043.jpg);
    }
    15%
    {
        background-image: url(Images/real_pictures/FB_IMG_1708512450492.jpg);
    }
    30%
    {
        background-image: url(Images/real_pictures/FB_IMG_1708512501351.jpg);
    }
    45%
    {
        background-image: url(Images/real_pictures/FB_IMG_1708512514316.jpg);
    }
    
    60%
    {
        background-image: url(Images/real_pictures/FB_IMG_1708512524657.jpg);
    }
    75%
    {
        background-image: url(Images/real_pictures/FB_IMG_1708512626119.jpg);
    }
    90%
    {
        background-image: url(Images/real_pictures/FB_IMG_1708512832571.jpg);
    }
    100%
    {
        background-image: url(Images/FB_IMG_1708512680043.jpg);
    }
} */


#hero h4{
    padding-bottom: 15px;
    font-family: 'Courier New', Courier, monospace;
}
#hero h2{
    color: #439ec5;
}
#hero h1{
    font-style: italic;
    padding-bottom: 10px;
 
}
#hero button{
    background: url("Images/button-01-01-01-01.png") no-repeat ;
background-size: 100% 130% ;
    background-color: transparent;
    height: 13vh;
    width: 20%;
    color: #0a5643;
    border: 0;
    padding: 35px 80px 18px 90px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 800;
    font-size: 20px;
    box-sizing: border-box;
    font-style: italic;
}
#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background:linear-gradient( 30deg,#12c2e9, #c471ed, #f64f59)
}

#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #78dcaa;
    background-color: rgba(133, 209, 219, 0.498);
border-radius: 4px;
margin: 15px 0;
}
#feature .fe-box:hover{
    box-shadow: 20px 20px 64px rgba(90, 46, 192, 0.203);
}
#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px ;
    font-size: 14px;
    font-family: sans-serif;
    line-height: 1.2;
    border-radius: 3px;
    color: #13091d;
    background-color: #a394d050;
}
#feature .fe-box:nth-child(2) h6 {
    background-color: #e7a6b561;
}
#feature .fe-box:nth-child(3) h6 {
    background-color: #badda990;
}
#feature .fe-box:nth-child(4) h6 {
    background-color: #7cc5e79e;
}
#feature .fe-box:nth-child(5) h6 {
    background-color: #ebac9a6b;
}
#Product1{
    text-align: center;
}
#Product1 h2{
    font-size: 50px;
    font-weight: 600;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
#Product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}
#Product1 .pro{
    width: 23%;
    min-height: 250px;
    padding: 10px 12px;
    border: 1px solid #77927756;
    background-color: #67eeee44;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.03) ;
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;

}
#Product1 .pro img{
    width: 275px;
    height: 275px ;
    border-radius: 15px;  
    padding-top: 8px;
}
#Product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(67, 41, 41, 0.217) ;
}
#Product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}
#Product1 .pro .des span{
    
    color: #b61616;
    font-size: 14px;
}
#Product1 .pro .des h5{
    padding-top: 7px;
    padding-bottom: 5px;
    color: rgb(35, 17, 94);
    font-size: 19px;
}
#Product1 .pro .des i{
    font-size: 16px;
    color: rgb(165, 174, 40);
}
#Product1 .pro h4{
    padding-top: 7px;
    font-size: 19px;
    font-weight: 700;
    color: #0d4f36;
}
#Product1 .pro .cart{
    width: 40px;
    height: 40px;
    font-size: 22px;
    line-height: 40px;
    border-radius: 30px;
    background-color: #c5438d11;
    font-weight: 500;
    color: #a5501bb3;
    border: 1px solid #bad2d2 ;
    position: absolute;
    bottom: 15px;
    right: 17px;
}